body {
  background-image: url('img/f.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 448vh;
  position: relative;
}
header img {
  padding-top: 20px;
  padding-left: 32px;
  top: 0;
  max-width: 48px; 
  max-height: 48px; 
}

#scroll-to-bottom {
  position: fixed;
  top: 200px;
  right: auto;
  transform: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  color: #FFB600;
  background: transparent;
  font-family: 'Sharp Sans', sans-serif;
  font-weight: bolder;
  padding-left: 100px;
  animation: pulse 2s infinite;
}

/* Keyframes for pulsation */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

/* Hide button after click */
.clicked #scroll-to-bottom {
  display: none;
}

#scroll-to-bottom:before {
  content: "Start";
  display: block;
  text-align: center;
  width: 100%;
}

.pulse {
  animation: pulse-animation 2s ease-out infinite;
  transform-origin: center;
  transform: scaleX(1.2);
}

@keyframes pulse-animation {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(1.2);
  }
  100% {
    transform: scaleX(1);
  }
}
